/* 基本リセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

/* ブログポストコンテナスタイル */
div {
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }
}

/* フッターのスタイル */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    border-bottom: 1px solid #ffffff;
}